/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-may-2018, 19:42:38
    Author     : Alvaro
*/

.EventName {
    text-decoration: none;
    color: #aaa;
    cursor: pointer;
    align-content: center;
    font-weight: bold;  
}

.Event {
    margin-bottom: 20px;
}

.EventPic{
    margin-right: 15px;
}

h1{
    display: inline;
}
