/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 31, 2018, 9:35:07 AM
    Author     : zolastro
*/

.solar-form {
    margin: 10px;
    margin-left: 40%;
}

.submit-button {
    margin-top: 10px;
}